:root {
 --primary-color: white;
 --secondary-color: black;
 --accent-color1: #264653;
 --accent-color2: orange;
 --heading-font: "Times New Roman", "Georgia", serif;
 --body-font: Arial, Helvetica, sans-serif;
}

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    font-family: var(--body-font);
    color: var(--accent-color2);
    background-color: var(--secondary-color);
}

img {
    width: 100%;
}

header {
    display: grid;
    grid-template-columns: 250px auto;
}

header, main, footer {
    width: 1200px;
    margin: 0 auto;
}

.history {
    display: grid;
    grid-template-columns: 2fr 1fr 2fr;
    gap: 1em;
}

.history h2, .adventure h2, .employees h2 {
    font-family: var(--heading-font);
    color: var(--primary-color);
    background-color: rgb(100, 100, 214);
    text-align: center;
    opacity: 0.8;
    width: 100%;
    padding: 16px;
    top: 5%;
    grid-column: 1 / -1;
}


nav, p, section, article {
    margin: 16px;
    padding: 16px;
    color: var(--primary-color);
}

nav {
    display: flex;
    align-items: center;
    justify-content: space-evenly;
}

nav a {
    padding: 1em;
    color: var(--primary-color);
    text-decoration: none;
}

nav a:hover {
    color: var(--secondary-color);
    background-color: var(--primary-color);
}

.socialmedia a {
    text-decoration: none;
    padding: 6px;
}


.hero {
    position: relative;
}

.hero img {
    display: block;
    width: 100%;
    height: auto;
}

.hero h1 {
    position: absolute;
    top: 5%;
    width: 100%;
    padding: 16px;
    text-align: center;
    opacity: 0.7;
    background-color: var(--accent-color1);
    color: var(--primary-color);
}

.hero article {
    position: absolute;
    top: 12%;
    width: 100%;
    margin-left: 0%;
    padding: 0;
    color: var(--primary-color);
    background-color: var(--accent-color1);
    opacity: 0.8;
    text-align: left;
}

.hero article img {
    float: right;
    height: auto;
    width: 300px;
    padding-top: 10px;
    padding-right: 10px;
    margin: 5px;
}

.adventure {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr 1fr 1fr;
    justify-items: center;
    gap: 1em;
}

footer {
    display: grid;
    grid-template-columns: 3fr 1fr;
    justify-items: center;
    align-items: center;
    background-color: #f3f3f3;
}

footer p {
    color: #3f3f3f;
}

/* contact us html styling section */

.completion {
    display: grid;
    grid-template-columns: 1fr 1fr;
    gap: 25px;
    padding: 0;
}

.contact-details {
    text-align: center;
    color: #f3f3f3;
    padding: 50px;
}

.contact-details h1 {
    color: var(--accent-color2);
}

.employees {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    grid-template-rows: 1fr 6fr;
    justify-items: center;
    text-align: center;
    gap: 1em;
    margin: 10px;
}

fieldset {
    border: 5px solid #9e0707;
    padding: 10px;
    background-color: #242020;
    display: grid;
    grid-template-rows: 1fr 1fr;
    gap: .8rem;
}

legend {
    font-size: 1.5em;
    font-weight: bold;
    padding: 0 10px;
}

input[type="checkbox"] {
    height: 20px;
    width: 20px;
    margin-left: 5px;
}

.message {
    display: inline-block;
}

.message, textarea {
    width: 100%; 
}

.reason {
    display: grid;
    grid-template-columns: 20px 1fr 20px 1fr 20px 1fr;
    gap: 1em;
    border-radius: 10px;
    margin: 5px 0 0 0;
    padding-bottom: 60px;
    height: 0px;
}

button {
    padding: 7px;
    margin: 0px 20px 0px 20px;
    font-size: 1.25rem;
    font-weight: bold;
    color: var(--secondary-color);
}

.details {
    display: inline-block;
    padding-right: 0px;
}

.details input {
    padding: 5px 35px 5px 0px;
    margin-top: 20px;
}