:root {
 --primary-color: white;
 --secondary-color: black;
 --accent-color1: #264653;
 --accent-color2: orange;
 --heading-font: "Times New Roman", "Georgia", serif;
 --body-font: Arial, Helvetica, sans-serif;
}

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    font-family: var(--body-font);
    color: var(--accent-color2);
    background-color: var(--secondary-color);
}

header {
    display: grid;
    grid-template-columns: 2fr 3fr;
}

header, main, footer {
    width: 100%;
    margin: 0 auto;
}

.history {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    grid-template-rows: 1fr 8fr;
}

.history h2 {
    font-family: var(--heading-font);
    color: var(--primary-color);
    background-color: rgb(100, 100, 214);
    text-align: center;
    opacity: 0.8;
    width: 100%;
    padding: 16px;
    top: 5%;
    grid-column: 2 / 3;
}

.history p {
    grid-column: 1 / 1;
    grid-row: 2 / 2
}

.history img {
    grid-column: span 1/ 3;
}

nav, p, section, article {
    margin: 16px;
    padding: 16px;
    color: var(--primary-color);
}

nav {
    display: flex;
    align-items: center;
    justify-content: space-evenly;
}

nav a {
    flex-wrap: wrap;
}

.socialmedia a {
    text-decoration: none;
    padding: 6px;
}


.hero {
    position: relative;
    display: grid;
    grid-template-columns: 1fr 7fr 1fr;
    grid-template-rows: 1fr 7fr 1fr;
}

.hero img {
    display: block;
    width: 100%;
    height: auto;
    grid-area: 1 / 1 / 4 / 4;
}

.hero h1 {
    position: absolute;
    top: 5%;
    width: 100%;
    padding: 16px;
    text-align: center;
    opacity: 0.7;
    background-color: var(--accent-color1);
    color: var(--primary-color);
    grid-column: 2/3;
    align-items: end;
}

.hero article {
    position: absolute;
    top: 12%;
    width: 100%;
    margin-left: 0%;
    padding: 0;
    color: var(--primary-color);
    background-color: var(--accent-color1);
    opacity: 0.8;
    text-align: left;
    grid-row: 2 / 2;
    grid-column: 2 / 2;
    display: grid;
    grid-template-columns: 4fr 2fr;
}

.hero article img {
    float: right;
    height: auto;
    width: 300px;
    padding-top: 10px;
    padding-right: 10px;
    margin: 5px;
}

.adventure {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr 1fr;
    grid-template-rows: 1fr 8fr;
    justify-items: center;
}

.adventure h2 {
    grid-column: span 5
}

.adventure figure {
    grid-column: span 5;
    grid-row: 2 / 2;
}

.adventure img {
    width: 300px;
    height: 250px;
}

footer {
    display: grid;
    grid-template-columns: 3fr 1fr;
    justify-items: center;
    align-items: center;
}
