* {
    margin: 0;
    padding: 0;
    box-sizing: border-box
}

:root {
--main-color: darkblue;
--borders-px: 1px;
}

main {
    max-width: 840px;
}

nav{
    background-color: var(--main-color);
    padding:10px;
}
nav a {
    color: white;
    display: block;
    padding:0;
}
h1 {
    color: var(--main-color);
}

img{
    width:150px;
    height: auto;
    border: var(--borders-px) solid black;
    padding: 2px;
    box-shadow: 0 0 30px gray;
}

p {padding: 0px}

main img {
    width: 250px;
    height: auto;
    border: var(--borders-px);
    padding: 1em;
    box-shadow: 10px 5px 5px orange;
    float: right;
}

aside img {
    width: 200px;
    height: auto;
}

aside {
    width: 1580px;
    text-align: left;
}

aside h2 {
    position: absolute;
    left: 7%;
    transform: translateX(-50%);
    top: 50.5%;
}

footer {
    margin-top: 1em;
    border-top: 5px solid #624aa9;
    text-align: left;
    padding-top: 1%;
}

/* comment header section */

.box {
    margin: 1rem;
    border: 1px rgb(204, 20, 20);
    padding: 1rem;
    background-color: white;
    color:rgb(220, 228, 228)
}

