:root {
--main-color: darkblue;
--borders-px: 1px;
}

main {
    max-width: 840px;
}

nav{
    background-color: var(--main-color);
    padding:10px;
}
nav a {
    color: white;
    display: block;
    padding:20px;
}
h1 {
    color: var(--main-color);
}

img{
    width:150px;
    height: auto;
    border: var(--borders-px) solid black;
    padding: 2px;
    box-shadow: 0 0 30px gray;
}

p {padding: 0px}

main img {
    width: 250px;
    height: auto;
    border: var(--borders-px);
    padding: 1em;
    box-shadow: 10px 5px 5px orange;
}

aside img {
    width: 200px;
    height: auto;
}

aside {
    width: 1580px;
    margin: 1px;
    border: var(--borders-px);
    padding: 1rem;
    background-color: rgb(243, 242, 248);
    color:black
}

footer {
    margin-top: 1em;
    border-top: 5px solid #624aa9;
    text-align: center;
}